@import-normalize; /* bring in normalize.css styles */
@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@400;600&family=Roboto:wght@400;600;700&display=swap");

html {
  --bg-loader: rgba(55, 56, 58, 0.6);
  --background-shade: #1c1c1c;
  --pink: #de3ef8;
  --background: #232426;
  --violet: #8e60db;
  --violet-text: #7242f7;
  --violet-shade: #724eb0;
  --violet-additional: #a37df0;
  --white: #edf0f3;
  --gradient: #37383a;
  --form-background: rgba(28, 28, 28, 0.8);
  --border: #8a8d92;
  --button-hover: #6b4e9b;
  --hover-e-color: color 250ms linear;
  --hover-e-bg: background-color 250ms linear;
  --error: #e26733;
  --bg-selector: #ceccd1;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Blinker", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  background-color: var(--background);
  color: var(--white);
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

input {
  padding: 0;
  margin: 0;
}

button {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
}

section {
  margin: 0 auto;
}
